<div class='sc-group'>
  <h3 class='sc-heading'>{{ include.section }}</h3>
  <table class='sc-tbl'>
  {% assign dsection = include.section | downcase %}

  {% for sc in site.data[include.name][dsection] %}
    <tr class='sc-row'>
      <td class='sc-keys'>
        {% assign keys = sc.shortcut | split: " " %}
        
        {% for k in keys %}            
          {% if k.size == 1 or k == 'Fn' or k == 'F1' or k == 'F2' or k == 'F3' or k == 'F4' or k == 'F5' or k == 'F6' or k == 'F7' or k == 'F8' or k == 'F9' or k == 'F10' or k == 'F11' or k == 'F12' %}
          <div class="sc-key">{{ k }}</div>
          {% else %}
          <span class="sc-text">{{ k }}</span>
          {% endif %}
        {% endfor %}

      </td>
      <td class='sc-desc'>{{ sc.desc }}</td>
    </tr>
  {% endfor %}
  </table>
</div>

