.container {
  align-items: stretch;
  display: flex;
  flex-flow: column wrap;
  min-height: 100vh; }
  
header { 
  background: $grey-color-dark url('/images/shortcuts.svg') no-repeat $spacing-unit*3 center;
  height: $spacing-unit*25;
  padding: $spacing-unit*3 0;
  width: 100%; 

  @include media-query($on-palm) {
    background: $grey-color-dark url('/images/shortcuts.svg') 16px 40px/80px no-repeat;
    height: $spacing-unit*20; } }

.hdr-title {
  margin: $spacing-unit*2 0 0 $spacing-unit*27; 

  @include media-query($on-palm) {
    margin: 0 0 0 $spacing-unit*14; } }

.hdr-nav {
  display: flex;
  flex-flow: row nowrap;
  margin: $spacing-unit*3 0 0 $spacing-unit*27; 

  @include media-query($on-palm) {
    justify-content: center;
    margin-top: 16px;
    margin-left: 40px;
    font-size: 14px; } } 

.nav-link {
  padding-right: 40px; }

footer {
  background-color: $grey-color-light;
  color: $brand-color;
  font-size: .8em;
  line-height: $spacing-unit*3; 
  padding: $spacing-unit*3; }

.content {
  flex-grow: 2;
  margin: $spacing-unit*3 $spacing-unit*5; 

  @include media-query($on-palm) {
    margin: $spacing-unit*2 $spacing-unit*3; } }

h1 {
  color: $white-color;
  font-size: $spacing-unit*5;
  line-height: $spacing-unit*5+4px; 

  @include media-query($on-palm) {
    font-size: $spacing-unit*4;
    line-height: $spacing-unit*4+3px; } }

.hdr-line-2 {
  display: block;
  font-size: $spacing-unit*3;
  font-weight: bold;
  margin-top: -$spacing-unit/2; 

  @include media-query($on-palm) {
    font-size: $spacing-unit*2;
    margin-top: -$spacing-unit+2px; } }

h2 {
  color: $brand-color;
  font-size: 28px; 

  @include media-query($on-palm) {
    font-size: 24px; } }

.main-list {
  -webkit-columns: 3;
     -moz-columns: 3;
          columns: 3; 
  -webkit-column-break-inside: avoid;
            page-break-inside: avoid;
                 break-inside: avoid;
  -webkit-column-fill: balance;
     -moz-column-fill: balance;
          column-fill: balance; 

  @include media-query($on-laptop) {
    -webkit-columns: 2;
       -moz-columns: 2;
            columns: 2; }

  @include media-query($on-palm) {
    -webkit-columns: 1;
       -moz-columns: 1;
            columns: 1; } }

.sc-list-parent {
  border: 1px solid $white-color; 
  break-inside: avoid; }

.sc-list {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;

  a:link, a:visited, a:hover, a:active {
    border: 1px solid $grey-color-light;
    border-radius: $spacing-unit;
    display: block;
    margin-bottom: $spacing-unit*2;
    padding: $spacing-unit*2 $spacing-unit*3;
    width: 300px; 
  
    @include media-query($on-palm) {
      width: 280px; } }

  a:hover {
    background-color: lighten($brand-color, 70%); }
}

.sc-heading {
  color: $brand-color; 
  font-weight: bold;
  font-size: 18px; }

.sc-row:nth-child(odd) {
  background-color: $white-color; }

.sc-row:nth-child(even) {
  background-color: $grey-color-light; }

.sc-row {
  border-bottom: 1px solid $grey-color-light; }

.sc-row:first-child {
  border-top: 1px solid $grey-color-light; }

.sc-row:hover {
  background-color: lighten($brand-color, 70%); }

.sc-tbl {
  border: 0;
  border-collapse: collapse;
  -webkit-column-break-inside: avoid;
            page-break-inside: avoid;
                 break-inside: avoid; 
  -webkit-column-fill: balance;
     -moz-column-fill: balance;
          column-fill: balance;   
  font-size: .8em;
  width: 400px; 

  @include media-query($on-palm) {
    width: 100%; } }

.hdr-nav:last-child {
  padding-right: 0; }

.sc-page {
  -webkit-column-break-inside: avoid;
            page-break-inside: avoid;
                 break-inside: avoid;
  -webkit-columns: 3;
     -moz-columns: 3;
          columns: 3;
  -webkit-column-fill: balance;
     -moz-column-fill: balance;
          column-fill: balance; 

  @include media-query($on-laptop) {
    -webkit-columns: 2;
       -moz-columns: 2;
            columns: 2; }

  @include media-query($on-palm) {
    -webkit-columns: 1;
       -moz-columns: 1;
            columns: 1; } }

.sc-group {
  -webkit-column-break-inside: avoid;
            page-break-inside: avoid;
                 break-inside: avoid;
  padding-bottom: $spacing-unit*3; }

.sc-keys {
  align-items: center;
  border: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 140px; 

  @include media-query($on-palm) {
    width: 120px; } }

.sc-desc {
  width: 260px; }

.sc-keys, .sc-desc {
  padding: $spacing-unit; }

.sc-key {
  background-color: #fff;
  border: 1px solid $grey-color-light;
  border-radius: $spacing-unit/2;
  display: block;
  padding: $spacing-unit/2;
  margin-right: $spacing-unit;
  min-width: $spacing-unit*2;
  min-height: $spacing-unit;
  text-align: center; }

.sc-text {
  color: $brand-color;
  padding-right: $spacing-unit; }