.container {
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    min-height: 100vh; 
  }
  
header { 
  width: 100%;
  height: 202px;
  background: #282828 url('/images/shortcuts.svg') no-repeat 24px center;
  border: 1px solid green;
}

.hdr-title {
  margin-left: 220px;
  margin-top: 28px;
}

.hdr-nav {
  display: flex;
  flex-flow: row nowrap;
  margin-left: 220px;
}

a:link, a:visited, a:hover, a:active {
  color: $brand-color-2;
}

.content {
  margin: 24px 40px;
  flex-grow: 2;
}

h1 {
  font: 900 40px/40px "Roboto", Helvetica, sans-serif;
  color: $white-color;
}

.hdr-line-3 {
  display: block;
  font: bold 24px "Roboto", Helvetica, sans-serif;
  margin-top: 6px;
}

h2 {
  color: $brand-color;
  font: 900 28px "Roboto", Helvetica, sans-serif;
}

.shortcut-list {
  columns: 3;
  break-inside: avoid;
  -moz-column-fill: balance;
  column-fill: balance;
}

.sc-list-parent {
  break-inside: avoid;
  border: 1px solid $white-color;
}

.sc-list {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;


  a:link, a:visited, a:hover, a:active {
    display: block;
    color: $brand-color-2;
    padding: 16px 24px;
    border: 1px solid $lt-grey-color;
    border-radius: 8px;
    margin-bottom: 16px;
    width: 280px;
    text-decoration: none;
  }

  a:hover {
    background-color: lighten($brand-color, 70%);
  }
}

.sc-heading {
  font: bold 18px "Roboto", Helvetica, sans-serif;
  color: $brand-color; 
}

.shortcut-cols {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  margin: auto 0; }
  @media screen and (max-width: 600px) {
    .shortcut-cols {
      -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
      flex-flow: column nowrap; } }

.shortcut-col1 {
  padding-right: 30px;
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
  vertical-align: top; }
  @media screen and (max-width: 600px) {
    .shortcut-col1 {
      -webkit-columns: 1;
      -moz-columns: 1;
      columns: 1; } }

.shortcut-col2 {
  width: 100px; }
  @media screen and (max-width: 600px) {
    .shortcut-col2 {
      width: 100%;
      padding-top: 12px; } }

.shortcut:nth-child(odd) {
  background-color: #fff; }

.shortcut:nth-child(even) {
  background-color: #eee; }

.shortcut {
  border-bottom: 1px solid #c9c9c9; }

.shortcut:first-child {
  border-top: 1px solid #c9c9c9; }

.shortcut:hover {
  background-color: lighten($brand-color, 70%); }

.shortcuts {
  width: 400px;
  border: 0;
  font-size: .8em;
  border-collapse: collapse;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid; 
  -moz-column-fill: balance;
  column-fill: balance;
}

.sc {
  width: 100px;
  padding-left: 6px;
  border: 0;
  word-spacing: .1em; }

.sc, .desc {
  padding: 8px;
}

.nav-link {
  padding-right: 40px; }

.hdr-nav:last-child {
  padding-right: 0; }

footer {
  padding: 24px;
  background-color: #F1F1F1;
  font: normal 14px "Roboto", Helvetica, sans-serif;
  color: $brand-color;
  line-height: 24px; 
}

.shortcut-page {
  columns: 3;
  break-inside: avoid;
  -moz-column-fill: balance;
  column-fill: balance;
}

.shortcut-group {
  padding-bottom: 24px;
  break-inside: avoid;

}
